<div>
    <h2>Товар {{product.name}}</h2>
    <table>
        <tr>
            <th>Описание товара</th>
            <td>{{ product.description}}</td>
        </tr>
        <tr>
            <th>Количество товара</th>
            <td>{{ product.count }}</td>
        </tr>
        <tr>
            <th>Просмотры</th>
            <td>{{ product.view }}</td>
        </tr>
    </table>
</div>